.url, .homebutton{
    background-color:chartreuse
}
h1, h3{
    text-align: center;
    color: blueviolet;
    width: 500px;
    font-size: 30px;
}
.homebutton{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
ul{
    color: green;
}
ol{
    color:darkred;
    text-size-adjust: auto;
}
body{
    background-color:burlywood;
}
fieldset, legend{
    background-color:darkcyan;
    font-style: italic;
    width: 750px;
}
.url {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
body {
    background-image:url(file:///home/jake/Downloads/pexels-guillaume-meurice-1591447.jpg)
}
.parent .child, .parent{
    Font-style: italic;
}